extends layout

block content
  //-
    .ui.container#main
      include ./message
  .ui.segment
    //-
      .ui.top.attached.tabular.menu
    .ui.secondary.pointing.menu
      a.item.active(data-tab="Fixes")
        h2 Fixes
      a.item(data-tab="Bugs")
        h2 Bugs
    .ui.bottom.attached.tab.active(data-tab="Fixes")
      if fixCount == 0 
        p No fixes in your queue
        .ui.clearing.divider
        button.ui.blue.basic.button(onclick = "addFix('')")
          i.add.circle.icon
          |Add Fix
          +addFix()
      else
        //p #{fixCount} Fixes
        include ./partials/index/fixList
      //-include ./partials/index/createFixModal
      include ./fixes/addFix

      //.ui.clearing.divider
      //button.ui.primary.basic.button Add Fix
    .ui.bottom.attached.tab(data-tab="Bugs")
      p sorry no bugs
      .ui.clearing.divider
      button.ui.blue.basic.button 
        i.add.circle.icon
        label Add Bug
  .ui.segment
    h2 Items
    if itemCount == 0
      p Nothing in Items List
    else
      .ui.secondary.pointing.menu
        a.item.active(data-tab="ToDos")
          h3 To Dos
        a.item(data-tab="Notes")
          h3 Notes
        a.item(data-tab="Reminders")
          h3 Reminders
    
      
      //-need to have mixin template view included or defined on the page before I can then 
      //-call it like a function passing my different parameters to it 
      include ./partials/index/items/itemList  
      
      
      
      .ui.bottom.attached.tab.active(data-tab="ToDos")
        +itemList(items, 'toDo')
      
      .ui.bottom.attached.tab(data-tab="Notes")
        +itemList(items, 'note')
      
      .ui.bottom.attached.tab(data-tab="Reminders")
        +itemList(items, 'reminder')

    
    .ui.clearing.divider
    button.ui.blue.basic.button#addItem
      i.add.circle.icon
      |Add Item

    //-
      .ui.small.modal#addItemModal
    include ./partials/index/items/addItemModal