doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/semantic/semantic.css')
    link(rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css")
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    header
      nav.ui.large.inverted.menu#banner
        .ui.container
          .nav_bar
            .left.menu
              a.ui.item(href="/") Dashboard
              .ui.dropdown.item Projects
                i.dropdown.icon
                .menu#project-list
                  a.item LTSR CU2 <!--go to project page localt host/projectName -->
                  .divider
                  a.item(href="#" id="createProject" onclick="drop()") Create Project
                  
                  .divider
                  a.item(href="/projects/") View all projects
        .ui.compact.right.selection.dropdown.item
          i.dropdown.icon
          .text #{user}
          .menu
            a.item(href="/logout") logout
      //-  
        a.right.header.item(href="/")
          img.logo(src="logo.png")
          |User Name
        a.item Tester Item 1
            

    //-
      .ui.container#main
    include ./projects/createProjectModal
    .ui.container#main
      include ./message    


      block content
      #blankspace
      footer
        .ui.footer.segment#footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/semantic/semantic.min.js')
    script(src="/bower_components/semantic-ui-calendar/dist/calendar.min.js")
    script(src='/scripts/custom.js')